<template>
  <div id="app" class="h-100">
    <div align="center">
      <table>
        <tr>
          <td style="padding: 10px 10px 10px 10px">
            <table align="center">
              <tr>
                <td>Name*</td>
                <td><input type="text" name="name" v-model="name" v-validate="'required'" data-vv-as="Name" placeholder="Name"/><br/>
                <span v-if="errors.has('name')" style="font-size: 10px">{{errors.first('name')}}</span></td>
              </tr>
              <tr>
                <td>Email*</td>
                <td><input type="email" name="email" v-model="email" v-validate="'required'" data-vv-as="Email" placeholder="sample@xyz.com"/><br/>
                <span v-if="errors.has('email')" style="font-size: 10px">{{errors.first('email')}}</span></td>
              </tr>
              <tr>
                <td>Age*</td>
                <td><input type="text" name="age" maxlength="3" v-model="age" v-validate="'required'" data-vv-as="Age" placeholder="Age"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"/><br/>
                <span v-if="errors.has('age')" style="font-size: 10px">{{errors.first('age')}}</span></td>
              </tr>
              <tr>
                <td>DOB*</td>
                <td><input type="text" name="dob" v-model="dob" v-validate="{ required: true, regex: /^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$/ }" data-vv-as="Date of Birth" placeholder="dd/mm/yyyy"/><br/>
                <span v-if="errors.has('dob')" style="font-size: 10px">{{errors.first('dob')}}</span></td>
              </tr>
              <tr>
                <td>Profile Picture*</td>
                <td>
                  <div v-if="!profilePic">
                    <h2>Select an image</h2>
                    <input type="file" @change="onFileChange" name="profile" v-validate="'required'" data-vv-as="Profile Picture" placeholder="Upload"/><br/>
                    <span v-if="errors.has('profile')" style="font-size: 10px">{{errors.first('profile')}}</span>
                  </div>
                  <div v-else>
                    <img :src="profilePic" />
                    <button @click="removeImage">Remove image</button>
                  </div>
                </td>
                <!-- <td><input type="text" name="profile" v-model="profilePic" v-validate="'required'" data-vv-as="Profile Picture" placeholder="Upload"/><br/>
                <span v-if="errors.has('profile')" style="font-size: 10px">{{errors.first('profile')}}</span></td> -->
              </tr>
            </table>
          </td>
          <td style="padding: 10px 10px 10px 10px" v-if="Object.keys(profileData).length > 0 && showResult">
            <table align="center">
              <tr>
                <td>Name:</td>
                <td><label>{{profileData.name}}</label></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><label>{{profileData.email}}</label></td>
              </tr>
              <tr>
                <td>Age:</td>
                <td><label>{{profileData.age}}</label></td>
              </tr>
              <tr>
                <td>DOB:</td>
                <td><label>{{profileData.dob}}</label></td>
              </tr>
              <tr>
                <td>Profile Picture:</td>
                <td><img :src="profileData.profilePic"></td>
              </tr>
            </table>
          </td>
          <td v-if="isSaved && !showResult"><b-spinner label="Loading..."></b-spinner></td>
        </tr>
      </table>
      <b-button @click="save()" :disabled="showResult" variant="outline-success">Save</b-button>
    </div>
    <!-- <router-view/> -->
  </div>
</template>
<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import { mapGetters } from 'vuex'

Vue.use(VeeValidate)

export default {
  name: 'app',
  computed: {
    ...mapGetters({
      profileData: 'getProfileObj'
    })
  },
  data: () => ({
    name: '',
    email: '',
    age: '',
    dob: '',
    profilePic: '',
    isSaved: false,
    loaderTime: 1000,
    showResult: false
  }),
  watch: {
    isSaved () {
      setTimeout(() => this.showResult = true, this.loaderTime)
    }
  },
  methods: {
    async save () {
      this.$validator.validateAll().then(async isValid => {
        if (isValid) {
          const profileObj = {
            name: this.name,
            email: this.email,
            age: this.age,
            dob: this.dob,
            profilePic: this.profilePic
          }
          await this.$store.dispatch('setProfileObj', profileObj)
          this.showToast('Registration completed successfully!', true)
          this.isSaved = true
        }
      })
    },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) { return }
      this.createImage(files[0])
    },
    createImage (file) {
      var image = new Image()
      var reader = new FileReader()
      var vm = this

      reader.onload = (e) => {
        vm.profilePic = e.target.result
      }
      reader.readAsDataURL(file)
    },
    removeImage: function (e) {
      this.profilePic = ''
    },
    showToast (message, success, append = false) {
      // this.toastCount++
      this.$bvToast.toast(message, {
        autoHideDelay: 2000,
        appendToast: append,
        solid: true,
        variant: success ? 'success' : 'danger'
      })
    }
  }
}
</script>

<style lang="scss">
@import "assets/css/font-awesome.min.css";
@import "assets/css/fonts.css";
.page-session-expiry .b-toaster {
  display: none !important
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  .btn-to-top {
    font-size: 1.05rem;
    padding: 0.5rem 0.5rem 0.4rem;
    background: rgba(0,0,0,0.7);
    color: #fff;
    line-height: normal;
    &:hover, &:focus{
      background: rgba(0,0,0,0.85);
    }

    i{
      vertical-align: top;
    }
  }
}
</style>
